.container{
    max-width: 1200px;
    padding: 0 $gutter;
    margin: 0 auto;
}

.content-page{
    padding-top: 112px;
}

// .container-sidebar{
//     display: flex;
//     //align-items: flex-start;
//     justify-content: space-between;
//     .content{
//         width: calc(#{$col*6} - #{$gutter/2});
//     }
// }

// .content-half-right{
//     width: calc(50% - #{$gutter});
//     float: right;
// }

// .grid{
//     display: flex;
//     align-items: flex-start;
//     justify-content: space-between;
//     flex-wrap: wrap;
// }

// // [class*='col-']{
// //     display: inline-block;
// //     padding: 0 $gutter/2;
// //     vertical-align: top;
// // }
// .col-2{
//     width: calc(50% - #{$gutter});
// }
// .col-3{
//     width: calc(33.3333% - 40px);
// }


// @media (max-width: $tablet){
//     .col-2{
//         width: 100%;
//     }

//     // .col-3{
//     //     margin: 0 0 5em;
//     // }
// }

// @media (max-width: $desktopSmall){
//     .container-sidebar{
//         .content{
//             width: 100%;
//         }
//     }
// }
