.product-list{
    display: flex;
}

.list-intro{
    width: 200px;
    flex-shrink: 0;
}

.product-list-wrapper{
    width: 100%;
    margin: 0 0 55px;
    overflow-x: auto;
}

.product-item{
    margin: 0 $gutter*2;
    flex-shrink: 0;
}

.product-image{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.product-pane{
    height: 150vh;
    padding-left: 45vw;
    background-image: url($noise);
}

.image-pane{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 45vw;
    background: red;
}