.single-product{
    h1{
        font-family: $butlerBold;
        margin: 0 0 15px;
    }
    h2{
        font-size: 4rem;
        padding: 0 0 10px;
        color: rgba($txt, 0.1);
        border-bottom: 1px solid currentColor;
        
    }
    .descr{
        margin: 45px 0 0;
    }
}

.product-info{
    a {
        border-bottom: 1px solid currentColor;
        transition: $transition;
        &:hover, &:focus{
            color: rgba($txt, 0.6);
        }
    }
}

.single-container{
    padding: 0 $gutter*2;
}

.product-pane{
    position: relative;
    padding: 60px 0 60px 45vw;
}

.image-pane{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 45vw;
    img{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:first-child{
            opacity: 1;
        }
    }
}

.paper-options{
    display: flex;
    align-items: center;
    margin: 0 0 55px;
    h3{
        font-family: $foundersBold;
        font-size: 3rem;
    }
    > *{
        flex: 1;
        display: flex;
        &:nth-child(2){
            padding-right: 50px;
            justify-content: center;
        }
    }
    .ref{
        .ref-title{
            color: rgba($txt, 0.3)
        }
        .ref-numbers{
            font-size: 2.4rem;
            font-family: $foundersBold;
            > span{
                margin: 0 15px 0 0;
            }
        }
    }
}

.order{
    position: fixed;
    right: 25px;
    bottom: 25px;
    padding: 15px 20px;
    border: none;
    font-size: 2rem;
    font-family: $foundersBold;
    background-color: $blue;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
    color: white;
    &:focus, &:hover{
        outline: none;
        background-color: $blueDark;
    }
}