.stripes{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    pointer-events: none;
    z-index: 100;
    > div {
        flex: 1;
        height: 100vh;
        transform: scaleY(0);
        transform-origin: 50% bottom;
    }
    .cyan{
        background-color: $blue;
    }
    .yellow{
        background-color: $blue;
    }
    .magenta{
        background-color: $blue;
    }
    .black{
        background-color: $blue;
    }
}