.home-top {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    padding: 100px 0 0;
    h1{
        color: $white;
        max-width: 60%;
        font-size: 8rem;
    }
    .txt-top{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        z-index: 2;
    }
}

.baseline{
    color: white;
    max-width: 60%;
    font-size: 1.8rem;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(95, 76, 69, 0.2);
    }

}