// Variables //


// Colors
$white: #fff;
$black: #000;
$txt: #333;
$cyan: #0FF;
$yellow: #FF0;
$magenta : #F0F;
$lemon: rgb(253,200,63) ;
$blue: #2ac8b7 ;
$blueDark: rgb(132, 233, 221);


// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$butler: 'Butler-Regular', sans-serif;
$butlerMedium: 'Butler-Medium', $butler;
$butlerBold: 'Butler-Bold', $butlerMedium;
$butlerExtraBold: 'Butler-ExtraBold', $butlerBold;
$founders: 'Founders Grotesk Regular';
$foundersBold: 'Founders Grotesk Semibold', $founders;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop-big: '1400px';
$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';


// Grid
$colFixe: 84;
$col: 100/11*1%;
$colSmall: 100/9*1%;

$gutter: 40px;
$gutterFixe: 20;

$noise: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAACVBMVEUAAAD8/vz8+vw8AUo1AAAAAXRSTlMAQObYZgAAAV1JREFUKJEdkkGqxTAIRd3kFczcQLofA3beQt8q/8kflDYavcdrLaXSpYg90qKkPdMj5JaV7+PfTi03f0ueIyPzM4kqZefKsPnwrd6qLNNIJ9eRXvbUrHB6PiLj8WjoCo3LyrVHTUrQade/rla3XXfkIPJV3FZqrnQt9OyZUQ4XbDKUxVMZCrtgudwPRdi9Og/RPJk4pMVwD8PBlq9IUmpzxxi9GNvbZhXcGHHG5k2HrLVpoOjDNgBOy5j6acfjJfOsCpRfXW0VGUEzWjc1fsDoNSZWUYlptzAEM878jSiGzNgNzHVPcQ13mz00w/3843gkj86WIk88GIHYQF87t6k9Fo50+s/qJ92F6+ia+yzVC8HLCHOdBcn7GewUn+sc9/vPVnj1fGxuJ/uMe+dquk0y5fe5aYVtb944xkGhzZ8wle7gzHCWeky21HwVm1jy77AdLgJ+Fe7gbHhtiv4AFRbyqROWNYcAAAAASUVORK5CYII=';
