.link-arrow{
    position: relative;
    display: inline-block;
    font-family: $founders;
    font-size: 1.8rem;
    &:before, &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: currentColor;
    }
    &:after{
        transform-origin: 100% 50%;
        transition: 0.4s ease-out 0.2s;
    }
    &:before{
        transform-origin: 0% 50%;
        transform: scaleX(0);
        transition: 0.4s ease-out;
    }
    &.white{
        color: white;
    }
    &:hover{
        &:after{
            transform: scaleX(0);
            transition: 0.4s ease-out;
        }
        &:before{
            transform: scaleX(1);
            transition: 0.4s ease-out 0.2s;
        }
    }
}

.arrow-link{
    transition: 0.2s ease-in-out;
    &.white{
        color: white;
        font-size: 1.8rem;
    }
    .arr{
        display: inline-block;
        margin-left: 5px;
        transition: transform 0.2s ease-in-out;
    }
    &:hover{
        color: $blue;
        .arr{
            transform: translateX(5px);
        }
    }
}