.header{
    padding: 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
}

.inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-wrapper{
        width: 100px;
    }
    .logo{
        max-width: 100%;
        height: auto;
        fill: $white;
    }
    .nav{
        display: flex;
        padding: 0;
        .icon{
            height: 30px;
            width: 30px;
        }
    }
    li {
        list-style-type: none;
        margin: 0 25px;
        padding: 5px;
        color: $white;
        a{
            display: block;
            width: 100%;
        }
    }
}