.vertical-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    .prev, .next{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 20px;
        width: 20px;
        &:before, &:after{
            content: '';
            display: block;
            height: 1px;
            width: 8px;
            background-color: $txt;
            transition: $transition;
        }
        &:before{
            transform-origin: 100% 50%;
            transform: rotate3d(0, 0, 1, -30deg);
        }
        &:after{
            transform-origin: 0% 50%;
            transform: rotate3d(0, 0, 1, 30deg);
        }
        &:hover{
            &:before{
                transform: rotate3d(0, 0, 1, -45deg);
            }
            &:after{
                transform: rotate3d(0, 0, 1, 45deg);
            } 
        }
    }
    .next{
        transform: rotate3d(0,0,1, 180deg);
    }
    .inner-slider{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
        height: 72px;
        overflow: hidden;
    }
    .slide{
        font-size: 2rem;
        cursor: pointer;
        color: #C1C1C1;
        transition: color 0.3s ease-in-out;
        &.active{
            color: $txt;
        }
    }
}