@charset 'utf-8';

@import
    'abstracts/variables',
    'abstracts/functions',
    'abstracts/mixins';

@import
    'base/reset',
    'base/fonts',
    'base/base';

@import
    'components/header';

@import
    'layout/grid',
    'layout/stripes',
    'layout/products';